* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --one: #585bfe;
  --pink: #ea59f9;
  --original: #835afd;

  --white: #fff;
  --background: #f2f3f5;
  --purple: #3d348b;

  --background: #f8f8f8;
  --backgroundDark: #121214;
}

html,
body,
#root {
  height: 100%;
}

#root,
input,
button,
textarea {
  font: 400 16px "Roboto", sans-serif;
}
